.navbar a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: red;
  height: 48px;
  width: 100%;
}

.navlinks {
  display: flex;
  align-items: center;
  height: 100%;
  width: 40%;
}

.navlinks {
  margin-left: 30px;
}

.logo img {
  max-height: 30px;
  margin-top: 4px;
  margin-left: 25px;
}

.navrechts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 60%;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.pagina {
  display: flex;
  flex-direction: column;
}

.boven {
  display: flex;
  flex-direction: row;
}

.boven_links {
  display: flex;
  height: 100%;
  width: 56%;
}

.boven_links img {
  height: 490px;
}

.boven_rechts {
  padding-left: 50px;
  padding-right: 70px;
  padding-top: 115px;
  height: 100%;
  width: 44%;
}

.midden {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: auto;
  max-width: 100%;
}

.midden_uitleg {
  padding-left: 50px;
  padding-right: 20px;
  height: 100%;
  width: 60%;
}

.midden_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-right: 40px;
  width: 40%;
}

.onder {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.onder_links {
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 130px;
}

.onder_links button {
  margin-top: 10px;
  margin-left: 0px;
}

.battle-img {
  min-height: calc(100vh - 8px);
  background-image: url("../images/pokemonbattlepage.jpg");
  background-size: cover;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 190px;
  height: 250px;
  /* height: auto; */
  background-color: rgba(50, 50, 50, 0.05);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.pokemon-card.selected {
  outline: 2px solid red;
}

.pokemon-card .sprite {
  width: 95%;
  /* max-height: 90%; */
}

.pokemon {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.button {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 4px 4px 4px 4px;
}

.button:hover {
  background-color: #cc0000;
}

.buttons {
  width: 100%;
  height: 50%;
  background-color: yellow;
}
.buttons .button-attack {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 4px 4px 4px 4px;
}
.buttons .button-attack:active {
  background-color: #cc0000;
}
.buttons .button-attackp2 {
  background-color: rgb(0, 0, 255);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 4px 4px 4px 4px;
}
.buttons .button-attackp2:active {
  background-color: #0000cc;
}

.pokemon-battles {
  padding-top: 20px;
}

.title-battle {
  text-align: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  max-width: -moz-max-content;
  max-width: max-content;
  background-color: lightblue;
}

.players {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.player-one {
  padding: 30px;
  margin-right: 20px;
}

.player-two {
  padding: 30px;
  margin-left: 20px;
}

.start-game {
  position: relative;
  top: -55px;
}

.pagina {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 48px);
}

.pagina * {
  margin: 0;
  padding: 0;
}

.left {
  width: 50%;
  background-color: beige;
}
.left .game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: cornflowerblue;
  background-image: url("../images/pokemonbattle.jpg");
  background-size: cover;
}
.left .game .p1 .player1 {
  display: flex;
  padding-top: 125px;
  padding-right: 100px;
}
.left .game .p1 .player2 {
  display: flex;
  padding-bottom: 125px;
  padding-left: 100px;
}

.right {
  width: 50%;
  height: 100%;
}
.right .info {
  border: 1px solid gray;
  border-radius: 8px;
  margin: 5px;
  margin-bottom: 10px;
}
.right .attack-info {
  border: 1px solid gray;
  border-radius: 8px;
  margin: 5px;
}/*# sourceMappingURL=App.css.map */