$primary-color: red;
$secundary-color: rgb(0, 0, 255);

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 48px;
    width: 100%;
}

.navlinks {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
}

.navlinks {
    margin-left: 30px;
}

.logo img {
    max-height: 30px;
    margin-top: 4px;
    margin-left: 25px
}

.navrechts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 60%;
}

body {
    // background-color: #cccccc;  
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagina {
    display: flex;
    flex-direction: column;
}

.boven {
    display: flex;
    flex-direction: row;
}

.boven_links {
    display: flex;
    height: 100%;
    width: 56%;
}

.boven_links img {
    height: 490px;
}

.boven_rechts { 
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 115px;
    height: 100%;
    width: 44%;
}

.midden {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: auto;
    max-width: 100%;
}

.midden_uitleg {
    padding-left: 50px;
    padding-right: 20px;
    height: 100%;
    width: 60%;
}

.midden_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-right: 40px;
    width: 40%;
}

.onder {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.onder_links {
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 130px;
}

.onder_links button {
    margin-top: 10px;
    margin-left: 0px;
}

.battle-img {
    min-height: calc(100vh - 8px);
    background-image: url("../images/pokemonbattlepage.jpg");
    background-size: cover;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 190px;
    height: 250px;
    /* height: auto; */
    background-color: rgba(50, 50, 50, 0.05);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
  
.pokemon-card.selected {
    outline: 2px solid red;
}
  
.pokemon-card .sprite {
    width: 95%;
    /* max-height: 90%; */
}

.pokemon {
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.button {
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 4px 4px 4px 4px;
}
.button:hover {
  background-color: darken($primary-color, 10%);
}
.buttons {
    width: 100%;
    height: 30%;
    //background-color: yellow;
    .button-attackp1{
        width: 20%;
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
        margin: 4px 4px 4px 4px;
    }
    .button-attackp1:active {
        background-color: darken($primary-color, 10%);
    }
    .button-attackp1:disabled {
        background-color: darken($primary-color, 30%);
        cursor: default;
    }
    .button-attackp2{
        width: 20%;
        background-color: $secundary-color;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
        margin: 4px 4px 4px 4px;
    }
    .button-attackp2:active {
        background-color: darken($secundary-color, 10%);
    }
    .button-attackp2:disabled {
        background-color: darken($secundary-color, 30%);
        cursor: default;
    }
  }


.pokemon-battles {
    padding-top: 20px;
}

.title-battle {
    text-align: center;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    max-width: max-content;
    background-color: lightblue;
}

.players {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.player-one {
    padding: 30px;
    margin-right: 20px;
}

.player-two {
    padding: 30px;
    margin-left: 20px;
}

.start-game {
    position: relative;
    top: -55px;
}

.pagina {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 48px);
}

.pagina * {
    margin: 0;
    padding: 0;
}

.left{
    width: 70%;
    //background-color: beige;
    .game{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70%;
        background-color: cornflowerblue;
        background-image: url("../images/pokemonbattle.jpg");
        background-size: cover;
        font-weight: 600;
        font-size: x-large;
        color: black;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        .p1 {
            padding-top: 250px;
            padding-right: 250px;
            .player1{
                display: flex;
                width: 150px;   
            }
            .player1.dead {
                transform: rotate(-90deg);
            }
        }
        .p2{
            padding-bottom: 50px;
            padding-left: 100px;
            .player2{
                display: flex;
                width: 150px;             
            }
            .player2.dead {
                transform: rotate(90deg);
            }
        }    
    }
}

.right{
    width: 30%;
    height: 100%;
    .info{
        border-bottom: 25px solid rgba(128, 128, 128, 0.477);
        padding: 10px;
    }
    .attack-info{
        border-bottom: 25px solid rgba(128, 128, 128, 0.477);
        padding: 10px;
    }
}

